.desc {
  padding-top: 2vh;
  padding-bottom: 3vh;
  margin-left: 12vw;
  margin-right: 12vw;
  font-size: 1.5em;
  font-family: 'Open Sans Condensed', sans-serif;
}

/*-------Desktops------*/
@media (min-width: 761px) {
  .container .container-main img {
     height: 12vw;
     width: 12vw;
     display:inline-block;
     border: 1px solid #BBB;
  }
  
  .container-main {
     padding: 5% 0% 5% 05%;
     margin: 0% 20% 0% 23%
    
  }
      
  .container  {
     margin-top: 1.5vw;
     width:100%;
     top: 0px;
     background-color:#121212;
  }
      
  .container h1 {
     font-size: 4vw; 
     color: #fff;
     padding: 4vw 0vw 5vw 10vw;
  }
  .container-main p {
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 1vw;
  }
  
  .warm {
    margin-right: 6vw;
    font-size: 1.2vw !important;
  }
  }
  
  
  
  /*--------Tablets-------*/
  @media screen and (min-width: 421px) and (max-width: 760px) {
    .container {
      background-color: #121212;
  }
  .container-main  img {
    height:28vw;
    width: 28vw;
    display:inline-block;
  }
  
  .container-main  {
   padding-left: 22%;   
  }
      
  .container h1 {
    font-size: 7vw;  
    padding: 4vw 0vw 5vw 10vw;
  }
  .container-main p {
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 2vw;
  }
  }
  
  /*-----Smartphone----*/
  @media screen and (max-width: 420px) {
    .container {
      background-color: #121212;
  }    
  .container-main img {
    height:60vw;
    width: 60vw;
    display: block;
    margin-top:1.5vw;
  }
  
  .container-main  {
   margin: 0vw 14vw 5vw 20vw;
  }
      
  .container h1 {
    font-size: 10vw;  
    padding: 4vw 0vw 5vw 10vw;
  }
  .container-main p {
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 3vw;
  }
  }
  
  
  
  
  
     